<main>
  <div class="container">
    <% @post.errors.full_messages.each do |message| %>
      <div class="error_message">
        <%= message %>
      </div>
    <% end %>
    <h3>新規投稿</h3>
    <%= form_for @post do |f| %>
      <div class="post_field">
        <%= f.label :投稿 %>
        <%= f.text_field :body, :size => 140 %>
      </div>
      <div class="field">
        <%= f.label :画像 %>
        <%= f.file_field :image %>
      </div>
      <div class="field">
        <%= f.label :動画 %>
        <%= f.file_field :video, :accept => 'video/*' %>
      </div>
      <div class="actions">
        <%= f.submit "投稿する" %>
      </div>
    <% end %>
    <%= link_to "投稿一覧に戻る", posts_path %>
  </div>
</main>