<main>
  <div class="container">
    <h2>ユーザー情報を変更する</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <p>ユーザーネーム</p>
        <%= f.text_field :username, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <p>レート</p>
        <%= f.text_field :rate, class: "form-control" %>
      </div>

      <div class="field">
        <p>ウイイレユーザーID(任意)</p>
        <%= f.text_field :userid, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :プロフィール画像 %><br/>
        <%= f.file_field :image %>
      </div>

      <div class="field">
        <p>スカッド画像</p>
        <%= f.file_field :scud %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <p>パスワード変更（６文字以上）</p>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <br>
      <div class="field">
        <p style="padding-top:15px;">確認用変更パスワード</p>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <br>
      <div class="field" style="padding-top:5px;">
        <%= f.label :現在のパスワード %><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "更新する" %>
      </div>
    <% end %>


    <p> <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当によろしいですか？" }, method: :delete %></p>

    <%= link_to "戻る", :back %>
  </div>
</main>
